<footer>
    <section class="footer-container">
      <h3 id="copyright">Created for the Cedar Band of Paiutes</h3>
      <h3 id="attribution">
        Developed by<a href="https://github.com/helloitsrufio">Ruth Reed</a>
      </h3>
    </section>
  </footer>