<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alphabet Page</title>
    <!--external CSS link -->
    <link rel='stylesheet' href='/CSS/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet"> 
</head>
<body>
    <!-- Nav bar -->
    <nav class='blue-sections nav-container'>
        <h1><a href='/'>Southern Paiute Dictionary</a></h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href="/alphabet">Alphabet</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Body -->
    <h1>This page is under construction.</h1>

    <!-- Footer -->
    <footer>
        <section class='footer-container'>
            <h3>© 2021 - Cedar Band of Paiutes</h3>
            <h3 id='attribution'>Created By<a href='https://ruthreed.dev'>Ruth Reed</a></h3>
        </section>
    </footer>
</body>
</html>