<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Entry added.</title>
    <!--external CSS link -->
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/15578398e0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="middle-section">
      <!-- Nav bar -->
      <%- include('partials/navbar') %>

      <section class="content-body">
        <section class="bodySectionAdded">
          <h2>Entry added.</h2>
          <button id="anotherEntryButton">Add another.</button>
          <button id="returnToHome">Return to home page.</button>
        </section>
      </section>

      <!-- Footer -->
      <%- include('partials/footer') %>

      <script type="text/javascript">
        document.getElementById("anotherEntryButton").onclick = () => {
          location.href = "/input";
        };
        document.getElementById("returnToHome").onclick = () => {
          location.href = "/";
        };
      </script>
    </section>
  </body>
</html>
