<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Entry added.</title>
    <!--external CSS link -->
    <link rel='stylesheet' href='/CSS/entryAdded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet"> 
</head>
<body>
    <!-- Nav bar -->
    <nav class='blue-sections nav-container'>
        <h1>Southern Paiute Dictionary</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href="/alphabet">Alphabet</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <section class='bodySection'>
        <h2>Entry added.</h2>
        <button id='anotherEntryButton'>Add another.</button>
        <button id='returnToHome'>Return to home page.</button>
    </section>

    <!-- Footer -->
    <footer>
        <section class='footer-container'>
            <h3>© 2021 - Cedar Band of Paiutes</h3>
            <h3 id='attribution'>Created By<a href='https://ruthreed.dev'>Ruth Reed</a></h3>
        </section>
    </footer>
</body>

<script type="text/javascript">
    document.getElementById('anotherEntryButton').onclick = () => {location.href = '/input'}
    document.getElementById('returnToHome').onclick = () => {location.href = '/'}
</script>
</html>