<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
    <script
      src="https://kit.fontawesome.com/9213c82d7b.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/15578398e0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <!-- Body -->
  <body>
    <section class="middle-section">
      <!-- Nav bar -->
      <%- include('partials/navbar') %>

      <section class="content-body-contact">
        <!-- Form -->
        <section class="contact-container">
          <h1 class="contact-h1">Contact Us</h1>
          <form
            id="contact-form"
            method="POST"
            action="send"
            enctype="multipart/form-data"
          >
            <section class="top-line">
              <section class="top-line-section top-line-section-1">
                <span>Name</span>
                <input
                  type="text"
                  placeholder="Enter your name"
                  name="userName"
                  required
                />
              </section>
              <section class="top-line-section">
                <span>Email</span>
                <input
                  type="text"
                  placeholder="Enter your email"
                  name="userEmail"
                />
              </section>
            </section>
            <section class="message">
              <span>Message</span>
              <textarea
                type="text"
                placeholder="Enter your message here."
                name="userMessage"
              ></textarea>
            </section>
            <section class="submit">
              <button type="submit" value="submit">
                <span>Submit</span>
                <i class="fas fa-arrow-circle-right"></i>
              </button>
            </section>
          </form>
          <section class="email-option">
            <span>Email Us</span>
            <span
              ><a href="mailto:speakpaiute@gmail.com"
                >speakpaiute@gmail.com</a
              ></span
            >
          </section>
        </section>
      </section>

      <!-- Footer -->
      <footer>
        <section class="footer-container">
          <h3 id="copyright">Created for the Cedar Band of Paiutes</h3>
          <h3 id="attribution">
            Developed by<a href="https://github.com/helloitsrufio">Ruth Reed</a>
          </h3>
        </section>
      </footer>
    </section>
  </body>
</html>
