* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navigation bar */
.blue-sections {
  background-color: #2184aa;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  height: 3em;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

nav li {
  /* margin-right: .5em; */
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

nav li:hover {
  color: #e3e4e8;
}

.nav-container input {
  display: none;
}

.hamburger-label {
  display: none;
}
/* Body */
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

input {
  height: 2.5em;
  width: 20em;
  color: lightgray;
  border: 1px solid #e5e5e5;
  padding-left: 12vh;
  font-weight: 800px;
}

img {
  height: 12rem;
  margin: 2em;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 5em; /* Height of the footer | note:dont use vh here, use fixed values*/
  background: #545454;
  border-top: 10px solid #2184aa;
}

.footer-container {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #545454;
}

#copyright {
  padding-top: 1vh;
  margin: 0vh;
}

#attribution {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  color: white;
  padding: 0vh;
  margin: 0.4vh;
  font-family: "Ubuntu", sans-serif;
}

a:before {
  content: "\00a0 ";
}

a:link {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #e3e4e8;
}

/* Media Queries */
@media screen and (max-width: 662px) {
  .nav-container {
    position: relative;
  }

  .nav-container input:checked ~ .menu-container {
    display: flex;
  }

  .nav-container input:checked ~ .hamburger {
    display: flex;
  }

  .hamburger-label {
    display: flex;
    width: 3em;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    font-size: 2em;
    width: auto;
    cursor: pointer;
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }
  .menu-container {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    top: 3em;
    right: 0;
  }
}
