@charset "UTF-8";
/* Navigation bar */
.blue-sections {
  background-color: #2184aa;
}

nav {
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  margin: 0rem 0rem 0rem 1rem;
  font-size: 1.26rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
nav ul a {
  margin: 0 1rem;
}
nav a {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: #e3e4e8;
}
nav input {
  display: none;
}
nav .hamburger-label {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 790px) {
  nav {
    position: relative;
  }

  nav .hamburger-label {
    display: inline;
    display: flex;
    width: 3rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  nav input:checked ~ .menu-container {
    display: flex;
  }

  nav input:checked ~ .hamburger {
    display: flex;
  }

  nav input:checked ~ .hamburger-label {
    background-color: #1b6c89;
  }

  .hamburger {
    font-size: 2rem;
    width: auto;
    cursor: pointer;
    display: block;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .menu-container {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    width: 9.5rem;
    top: 3rem;
    right: 0;
    background-color: #1b6c89;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
  }

  li {
    padding: 0.2rem;
  }
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  bottom: 0;
  background: #545454;
  border-top: 10px solid #2184aa;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #545454;
  margin: 0.5em;
}
footer .footer-container #copyright {
  padding-top: 1vh;
  margin: 0vh;
}
footer .footer-container #attribution {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  color: white;
  padding: 0vh;
  margin: 0.4vh;
  font-family: "Ubuntu", sans-serif;
}
footer .footer-container #attribution a:before {
  content: " ";
}
footer .footer-container #attribution a:link {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
footer .footer-container #attribution a:visited {
  text-decoration: none;
  color: white;
}
footer .footer-container #attribution a:hover {
  text-decoration: none;
  color: #e3e4e8;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.content-body input {
  height: 2.5rem;
  width: 40vw;
  color: #444;
  border: 1px solid #e5e5e5;
  background-color: #ededed;
}
.content-body #logo {
  height: 12rem;
  margin-bottom: 2rem;
  width: auto;
}

/* First half of body */
.first-half {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3vh;
}

.first-half-h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.first-half h2 {
  color: #545454;
}

.first-half h2 + h2 {
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 5vh;
  color: #848383;
}

img {
  width: 60%;
  max-height: 45vh;
}

.first-half section {
  margin-top: 5vh;
  width: 58%;
  color: black;
}

#here-link {
  color: blue;
}

.team-data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /*height:50vh;
  margin: 0vh 40vh;*/
}

.second-half h2 {
  display: flex;
  justify-content: center;
}

.team-member-first-row, .team-member-second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 10vh;
  width: 20vh; */
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vh;
  margin: 5vh 0vh;
}

i {
  font-size: 18vh;
  color: white;
}

.member-name {
  font-weight: bold;
  font-size: 1.4em;
}

.first-row-second-member {
  padding-bottom: 4.5vh;
}

.second-row-second-member {
  padding-top: 1.9vh;
}

/* Form */
.form span {
  font-weight: bold;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  overflow: hidden;
}

.contact-h1 {
  margin-bottom: 5vh;
}

.top-line {
  display: flex;
  flex-direction: row;
  margin: 3vh;
}

.top-line span {
  display: flex;
  flex-direction: column;
  margin: 0vh 1vh 1vh 1vh;
}

.top-line input {
  margin: 0vh 1vh 0vh 1vh;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 47vh;
  margin-left: 4vh;
  overflow-wrap: break-word;
}

.message span {
  margin-bottom: 1.5vh;
}

.message input {
  /* text-align: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 0.5em 0em 14em 0.5em;
  font-size: 0.8em;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border: 2px solid rgba(31, 155, 103, 0.38);
  color: black;
  margin-bottom: 1.5vh;
  line-break: auto;
  overflow-wrap: normal;
}

.contact-container input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px solid rgba(31, 155, 103, 0.38);
}

.submit {
  margin: 0vh 0vh 3vh 4vh;
}

button {
  color: #2184AA;
  border: none;
  background-color: white;
  cursor: pointer;
}

.submit span {
  color: #545454;
  font-size: 1.1em;
  margin-left: -0.3em;
}

.email-option span {
  display: flex;
  flex-direction: column;
}

.email-option a {
  color: #2184AA;
  text-transform: lowercase;
  text-decoration: none;
}

/* Body */
.back-button {
  align-self: flex-start;
  padding-left: 5rem;
}
.back-button .fas {
  color: #2184aa;
  border: none;
  background-color: white;
  cursor: pointer;
}

.results,
.h1Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding-left: 10rem;
}

#bodyH1 {
  font-size: 2rem;
  color: #545454;
}

.results {
  color: #545454;
}
.results li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  line-height: 2rem;
  width: 40rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid lightgray;
}
.results span {
  font-size: 1.3rem;
}
.results a {
  font-size: 0.9rem;
  text-decoration: none;
}
.results p {
  font-size: 1.3rem;
}

strong {
  font-size: 1.7rem;
  color: #1a5970;
}

@media screen and (max-width: 730px) {
  .results,
.h1Box {
    padding-left: 0rem;
    align-self: center;
  }
  .results li,
.h1Box li {
    width: 50vw;
  }

  .back-button {
    padding-left: 2rem;
  }
}
/* Body */
.content-body-word-page {
  justify-content: flex-start;
  align-items: flex-start;
  color: #545454;
}
.content-body-word-page .fas {
  color: #2184aa;
  border: none;
  background-color: white;
  cursor: pointer;
}
.content-body-word-page i {
  padding: 4rem 0rem 0rem 4rem;
}
.content-body-word-page .entry {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}
.content-body-word-page .entry h1 {
  padding-right: 4rem;
  margin: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #1a5970;
}
.content-body-word-page .entry span {
  font-size: 1.2rem;
}
.content-body-word-page .entry .entryData {
  margin-left: 3.5rem;
}
.content-body-word-page .entry .wordAndAudio {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  width: fit-content;
}
.content-body-word-page .entry audio {
  padding-bottom: 3rem;
  width: 16vw;
}
.content-body-word-page .entry .entry-data-section {
  padding: 0.3rem 0rem 0rem 0rem;
}
.content-body-word-page .entry .phoneticAndGrammaticalInput {
  padding: 1.5rem 0rem;
}
.content-body-word-page .entry .phoneticAndGrammaticalInput #grammar {
  color: white;
  background-color: #2184aa;
  width: fit-content;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}
.content-body-word-page .entry .phoneticAndGrammaticalInput #phonetic {
  font-size: 1.2rem;
  margin-right: 2rem;
}
.content-body-word-page .entry .more button {
  color: white;
  background-color: #2184aa;
  border-radius: 0.3rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}
.content-body-word-page .entry a,
.content-body-word-page .entry a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.content-body-word-page .translation span,
.content-body-word-page .example span {
  margin-left: 1.3rem;
}

@media screen and (max-width: 435px) {
  .content-body .entry h1 {
    padding-right: 0rem;
  }
}
.page-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-intro p {
  margin-top: 2.9rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #545454;
  width: 54vw;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-body span {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  color: #545454;
}

.inputSection {
  display: flex;
  flex-direction: column;
}
.inputSection input {
  padding: 0.5rem;
  margin: 0.7rem;
  border: 1px solid RGBA(31, 155, 103, 0.38);
  width: 40vw;
}
.inputSection span {
  margin-left: 0.8rem;
}
.inputSection #audioButton {
  border: none;
}

@media screen and (max-width: 600px) {
  .inputSection input,
.page-intro p {
    width: 80vw;
  }
}
/* Body */
.bodySection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
}
.bodySection h2 {
  color: #545454;
  margin-bottom: 10rem;
}
.bodySection button {
  padding: 2.5rem;
  margin: 1.2rem;
  color: #fff;
  background-color: #2184AA;
  border-radius: 2rem;
  border: 2px solid #2184AA;
  font-size: medium;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.middle-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-body {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
