*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}

*:before, *::after{
    box-sizing: border-box;
}

html,body{
    position:relative;
    height:100%;
}

body{
    display: flex;
    flex-direction: column;
    color:#545454;
    min-height: 100vh;
    display: block;
    padding-bottom: 1em;
}