*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}

html{
    height:100%;
    overflow: hidden;
}

body{
    position:relative;
    height:100%;
}

title{
    display:none;
}


/* Navigation bar */
.blue-sections{
    background-color: #2184AA;
    color:white;
}

nav{
    display: flex;
    align-items:center;
    height:3em;
    margin:-.5em;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    align-items:center;
    justify-content: space-around;
}
nav h1{
    margin-right:33em;
}


nav ul{
    list-style:none;
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

nav li{
    padding:0em 3em 0em 3em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

nav li:hover{
    color:#e3e4e8;
}


/* Body */
.middle-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10em;
    height:57vh;
}


input{
    height:4vh;
    width:30vh;
    color: lightgray;
    border:1px solid #E5E5E5;
    padding-left:12vh;
    font-weight:800px;
}

img{
    height:15vh;
    margin: -10em 0em 3em 0em;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    position:absolute;
    bottom:0;
    width:102%;
    height:8vh;   /* Height of the footer */
    margin-left:-1em;
    background:#545454;
    border-top: 10px solid #2184AA;
}

.footer-container {
    display: flex;
    flex-direction: column; 
    color:white; 
    background-color: #545454;
}

#copyright {
    padding-top:1vh;
    margin:0vh;
}

#attribution{
    display:flex;
    justify-content: center;
    font-size: .8em;
    color: white;
    padding: 0vh;
    margin:.4vh;
    font-family: 'Ubuntu', sans-serif;
}

a:before{
    content: "\00a0 ";
}

a:link { 
    text-decoration: none;
    color:white;
    font-family: 'Ubuntu', sans-serif; }

a:visited { 
    text-decoration: none;
    color:white; }

a:hover { 
    text-decoration: none;
    color: #e3e4e8}

/* Media queries */

@media screen and (max-width:1833px){
    /* nav */
        nav h1{ margin-right:30em; }
    }
    
@media screen and (max-width:1761px){
        nav h1{ margin-right:26em; }
    }
 
@media screen and (max-width:1665px) {
    nav h1{ margin-right:20em; }
}

@media screen and (max-width:1521px) {
   nav h1{ 
       margin-right:15em;
}

@media screen and (max-width:1401px){
   nav h1{ margin-right: 10em; }
}

@media screen and (max-width:1281px){
    nav li{ padding:0em 1em 0em 1em; }
}

@media screen and (max-width:1091px){
    nav li{ padding:0em 1em 0em 0em; }
    /* footer{ width:105%; } */
}

@media screen and (max-width:1019px){
    nav li{ padding:0em 0em 0em .5em; }
}

@media screen and (max-width:989px){
    nav h1{ 
        padding-right:8em;
        margin-right:10em;  }
}

/* Hamburger menu here */
@media screen and (max-width:682px){
    
}

  
