// About Page
/* First half of body */
.first-half {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  .first-half-h2 {
    display: flex;
    flex-direction: column;
  }
  h2 {
    color: #545454;
  }
  h2 + h2 {
    align-self: flex-end;
    justify-content: flex-end;
    margin-bottom: 3rem;
    color: rgb(132, 131, 131);
  }
  section {
    margin-top: 2rem;
    width: 80%;
    color: black;
  }
  img {
    width: 60%;
    max-height: 45rem;
  }
  #here-link {
    color: blue;
  }
}

.second-half {
  color: #545454;
  .team-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .team-member-first-row,
    .team-member-second-row {
      display: flex;
      flex-direction: row;
    }
    .team-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 26vw;
      i {
        font-size: 17vw;
        color: #2184aa;
      }
      .member-name {
        font-weight: bold;
        font-size: 1.4rem;
      }
    }
    .first-row-second-member {
      span {
        text-align: center;
      }
    }
  }
  h2 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 800px) {
  .first-half {
    section {
      width: 58%;
    }
  }
}

@media screen and (max-width: 880px) {
  .first-half {
    margin-top: 0;
    .first-half-h2 {
      margin-bottom: 1rem;
    }
    h2 + h2 {
      margin-bottom: 1rem;
    }
    section {
      margin-top: 2rem;
    }
  }
  .second-half {
    .team-data {
      .team-member {
        width: 100%;
        padding: 0.5rem;
        i {
          font-size: 22vw;
        }
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .first-half {
    margin-top: 0;
    section {
      margin-top: 2rem;
    }
    img {
      display: none;
    }
    h2 + h2 {
      margin-bottom: 0rem;
    }
  }
  .second-half {
    .team-data {
      .team-member-first-row,
      .team-member-second-row {
        flex-direction: column;
      }
      .team-member {
        width: 100%;
        padding: 0.5rem;
        i {
          font-size: 31vw;
        }
      }
    }
  }
}
