// Home page
.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    input {
      height: 2.5rem;
      width: 40vw;
      color: #444;
      border: 1px solid #e5e5e5;
      background-color: #ededed;
    }
    #logo {
      height: 12rem;
      margin-bottom: 2rem;
      width: auto;
    }
  }
  
  
  
