p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    font-size: 1.3rem;
    font-weight: bold;
    color: #545454;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:75vh;
}

span {
    text-transform: uppercase;
    font-size:.9rem;
    font-weight:600;
    color: #545454;
}

input {
    padding:1.2vh;
    margin:1.5vh;
    border: 1px solid RGBA(31, 155, 103, .38);
    width: 54vh;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

.inputSection span {
    margin-left: 1.5vh;
}


#audioButton {
    border:none;
}