.page-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        margin-top: 2.9rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #545454;
        width: 54vw;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-body span {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    color: #545454;
}

.inputSection {
    display: flex;
    flex-direction: column;
    input {
        padding: .5rem;
        margin: .7rem;
        border: 1px solid RGBA(31, 155, 103, .38);
        width: 40vw;
    }
    span {
        margin-left: .8rem;
    }
    #audioButton {
        border: none;
    }
}

// Media Queries
@media screen and (max-width:600px) {
    .inputSection input,
    .page-intro p {
        width: 80vw;
    }
}