/* Body */
.content-body-word-page {
  justify-content: flex-start;
  align-items: flex-start;
  color: #545454;
  .fas {
    color: #2184aa;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  .arrow{
    padding: 4rem 0rem 0rem 4rem;
  }
  .entry {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    h1 {
      margin: 3.5rem;
      font-size: 2rem;
      font-weight: 700;
      color: #1a5970;
    }
    span {
      font-size: 1.2rem;
    }
    .entryData {
      margin-left: 3.5rem;
    }
    .wordAndAudio {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid lightgray;
      width: fit-content;
      audio {
        display: none;
    }
    .audio-button {
      color: white;
      background-color: #2184aa;
      height: 2rem;
      width: 2.5rem;
      border-radius: .3rem;
    }
    }
    .entry-data-section {
      padding: 0.3rem 0rem 0rem 0rem;
    }
    .phoneticAndGrammaticalInput {
      padding: 1.5rem 0rem;
      #grammar {
        color: white;
        background-color: #2184aa;
        width: fit-content;
        padding: 0.7rem 1.5rem;
        border-radius: 0.3rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: small;
      }

      #phonetic {
        font-size: 1.2rem;
        margin-right: 2rem;
      }
    }
    .more {
      button {
        color: white;
        background-color: #2184aa;
        border-radius: 0.3rem;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
      }
    }
    a,
    a:visited {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .translation span,
  .example span {
    margin-left: 1.3rem;
  }
}

@media screen and (max-width: 630px) {
  .content-body-word-page {
    padding: 0vw;
    .entry {
      width: 100%;
      align-items: center;
      padding-left: 0vw;
      .entryData {
        margin-left: 0rem;
        h1 {
          margin: 0rem 2rem 2rem 0rem;
        }
      }
    }
  }
}

@media screen and (max-width:375px){
  .content-body-word-page {
    .entry {
      h1{
        margin: 1.5rem
      }
    }
  }
}
//TODO: continue making word page suitable for mobile devices. Fix audio button, padding on .entry. Maybe actually make everything at the media query centered in flex. 